{% extends "layout.html" %}

<!-- insert this in the heading block-->
{% block heading %}
<h1>Contact</h1>
{% endblock %}

<!-- insert this in the main body block-->
{% block main %}

<h3>Get in touch. We'd love to hear from you.</h3>

<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat esse quaerat
	adipisci optio facilis hic omnis assumenda, distinctio sequi cum, eveniet
	consequatur debitis accusamus? Cum, impedit! Ab nostrum architecto nesciunt.
</p>

<p>
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum possimus, ipsa
	quis laboriosam maxime molestiae exercitationem corporis libero eum tempora
	dolor nemo aut amet excepturi nisi architecto nesciunt magni recusandae?
</p>
{% endblock %}
