{% extends "layout.html" %}
{% block heading %}<h1>Customery Query</h1>{% endblock %}
{% block main %}
<table><thead><tr><th>Last Name</th><th>First Name</th><th>Email</th></tr><thead><tbody>
<tr><td>Abney</td><td>Rafael</td><td>rafael.abney@sakilacustomer.org</td></tr>
<tr><td>Adam</td><td>Nathaniel</td><td>nathaniel.adam@sakilacustomer.org</td></tr>
<tr><td>Adams</td><td>Kathleen</td><td>kathleen.adams@sakilacustomer.org</td></tr>
<tr><td>Alexander</td><td>Diana</td><td>diana.alexander@sakilacustomer.org</td></tr>
<tr><td>Allard</td><td>Gordon</td><td>gordon.allard@sakilacustomer.org</td></tr>
<tr><td>Allen</td><td>Shirley</td><td>shirley.allen@sakilacustomer.org</td></tr>
<tr><td>Alvarez</td><td>Charlene</td><td>charlene.alvarez@sakilacustomer.org</td></tr>
<tr><td>Anderson</td><td>Lisa</td><td>lisa.anderson@sakilacustomer.org</td></tr>
<tr><td>Andrew</td><td>Jose</td><td>jose.andrew@sakilacustomer.org</td></tr>
<tr><td>Andrews</td><td>Ida</td><td>ida.andrews@sakilacustomer.org</td></tr>
<tr><td>Aquino</td><td>Oscar</td><td>oscar.aquino@sakilacustomer.org</td></tr>
<tr><td>Arce</td><td>Harry</td><td>harry.arce@sakilacustomer.org</td></tr>
<tr><td>Archuleta</td><td>Jordan</td><td>jordan.archuleta@sakilacustomer.org</td></tr>
<tr><td>Armstrong</td><td>Melanie</td><td>melanie.armstrong@sakilacustomer.org</td></tr>
<tr><td>Arnold</td><td>Beatrice</td><td>beatrice.arnold@sakilacustomer.org</td></tr>
<tr><td>Arsenault</td><td>Kent</td><td>kent.arsenault@sakilacustomer.org</td></tr>
<tr><td>Artis</td><td>Carl</td><td>carl.artis@sakilacustomer.org</td></tr>
<tr><td>Ashcraft</td><td>Darryl</td><td>darryl.ashcraft@sakilacustomer.org</td></tr>
<tr><td>Asher</td><td>Tyrone</td><td>tyrone.asher@sakilacustomer.org</td></tr>
<tr><td>Austin</td><td>Alma</td><td>alma.austin@sakilacustomer.org</td></tr>
</tbody><tfoot><tr><td colspan='3'>20 records displayed</td></tr></tfoot></table>{% endblock %}
