{% extends "layout.html" %}

<!-- Header -->
{% block header %}
<h1>About Us !</h1>
{% endblock %}

<!-- Main body starts here -->
{% block body %}

<h3>Want to learn more about us?</h3>

<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat esse quaerat
	adipisci optio facilis hic omnis assumenda, distinctio sequi cum, eveniet
	consequatur debitis accusamus? Cum, impedit! Ab nostrum architecto nesciunt.
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat esse quaerat
	adipisci optio facilis hic omnis assumenda, distinctio sequi cum, eveniet
	consequatur debitis accusamus? Cum, impedit! Ab nostrum architecto nesciunt.
</p>
<p>
	Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat esse quaerat
	adipisci optio facilis hic omnis assumenda, distinctio sequi cum, eveniet
	consequatur debitis accusamus? Cum, impedit! Ab nostrum architecto nesciunt.
</p>
{% endblock %}

<!-- Footer is standard across all pages -->
