<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/assets/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<h1>Contact</h1>
			<nav>
				<a href="/">Home</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
			</nav>
		</header>

		<main>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
				veritatis autem molestias sapiente accusantium quaerat harum, corrupti
				nulla ullam dolorem asperiores atque, animi earum ipsam ducimus eum
				corporis deleniti. Debitis!
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
				veritatis autem molestias sapiente accusantium quaerat harum, corrupti
				nulla ullam dolorem asperiores atque, animi earum ipsam ducimus eum
				corporis deleniti. Debitis!
			</p>
		</main>
		<footer>
			<h5>&copy Komal, 2025</h5>
		</footer>
	</body>
</html>
