<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/assets/css/style.css" />
		<title>Document</title>
	</head>
	<body>
		<header>
			<!-- Inject page's header here -->
			{% block header %} {% endblock %}

			<!-- Standard navigation for every page -->
			<nav>
				<a href="/">home</a>
				<a href="/about">About</a>
				<a href="/contact">Contact</a>
			</nav>
		</header>

		<main>
			<!-- Inject page's body here  -->
			{% block body %} {% endblock %}
		</main>

		<!-- Common footer on every page -->
		<footer>
			<h5>Flask Demos - &copy Komal 2025</h5>
		</footer>
	</body>
</html>
