body {
	background-color: azure;
}

header {
	color: azure;
	background-color: darkcyan;
}

nav {
	background-color: cornflowerblue;
}

footer {
	color: azure;
	background-color: darkcyan;
}

a {
	font-size: xx-small;
	color: darkblue;
	border: 0;
}
a:hover {
	color: white;
	background-color: darkblue;
}
